@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 15;
  margin: 14;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}
